:root {
    --primary: #4361ee;
    --secondary: #3a0ca3;
    --success: #4cc9f0;
    --warning: #f72585;
    --background: #f8f9fa;
    --text-dark: #212529;
    --text-light: #6c757d;
    --white: #ffffff;
    --border: #dee2e6;
}


.weight-category {
  border-radius: 8px;
  border: 1px solid var(--border);
  background-color: var(--primary);
  padding: 15px;
  justify-content: center;
  color: var(--white);
  font-size: 16px;
  font-weight: bold;

}

