<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= page %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <% if (user) { %>
    <div class="navbar">
      <div>
        <strong>Course Management System</strong>
      </div>

      <div>
        Logged in as: <%= user.email %> (<%= user.role %>)
        |

        <a href="/dashboard">Dashboard</a>

        <% if (user.role === "admin") { %>
            |
            <a href="/admin">Admin</a>
        <% } %>

        |
        <a href="/logout">Logout</a>
      </div>
      
    </div>
  <% } %>

  <div class="container">
    <%- body %>
  </div>

</body>
</html>
